{% include base_path %}

<link rel="stylesheet" id="camera-css" href="{{ base_path }}/assets/camera/css/camera.css" type="text/css" media="all"> 
<style>
    .fluid_container {
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;
    }
</style>


<div class="fluid_container">
    <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
        <div data-thumb="{{ base_path }}/assets/camera/images/slides/eccv2022/teaser_full_small.jpg" 
               data-src="{{ base_path }}/assets/camera/images/slides/eccv2022/teaser_full.jpg">
            <div class="camera_caption">
                ECCV 2022: Benchmarking Localization and Mapping for Augmented Reality (LaMAR)
            </div>
        </div>
        <div data-thumb="{{ base_path }}/assets/camera/images/slides/cvpr2022/teaser_full_small.png" 
               data-src="{{ base_path }}/assets/camera/images/slides/cvpr2022/teaser_full.png">
            <div class="camera_caption">
                CVPR 2022: Learning To Detect Scene Landmarks for Camera Localization
            </div>
        </div>
        <div data-thumb="{{ base_path }}/assets/camera/images/slides/iccv2021/teaser_full_small.png" 
               data-src="{{ base_path }}/assets/camera/images/slides/iccv2021/teaser_full.png">
            <div class="camera_caption">
                ICCV 2021: Cross-Descriptor Visual Localization and Mapping
            </div>
        </div>
        <div data-thumb="{{ base_path }}/assets/camera/images/slides/corl2021/teaser_full_small.png" 
               data-src="{{ base_path }}/assets/camera/images/slides/corl2021/teaser_full.png"
               data-alignment="centerRight">
            <div class="camera_caption">
                CORL 2021: Evaluating robot task planning over large 3D scene graphs (TASKOGRAPHY)
            </div>
        </div>
        <div data-thumb="{{ base_path }}/assets/camera/images/slides/bpva2020/teaser_full_small.png" 
               data-src="{{ base_path }}/assets/camera/images/slides/bpva2020/teaser_full.png"
               data-alignment="centerLeft">
            <div class="camera_caption">
                Building Proactive Voice Assistants: When and How (not) to Interact
            </div>
        </div>
        <div data-thumb="{{ base_path }}/assets/camera/images/slides/cvpr2017/teaser_full_small.png" 
               data-src="{{ base_path }}/assets/camera/images/slides/cvpr2017/teaser_full.png"
               data-alignment="centerLeft">
            <div class="camera_caption">
                CVPR 2017: A Rich Object Appearance Model with Application to Rotoscoping (ROAM)
            </div>
        </div>
        <div data-thumb="{{ base_path }}/assets/camera/images/slides/chi2015/teaser_full_small.jpg" 
               data-src="{{ base_path }}/assets/camera/images/slides/chi2015/teaser_full.jpg">
            <div class="camera_caption">
                CHI 2015: The Semantic Paintbrush: Interactive 3D Mapping and Recognition in Large Outdoor Spaces
            </div>
        </div>
        <div data-thumb="{{ base_path }}/assets/camera/images/slides/icra2015/teaser_full_small.png" 
               data-src="{{ base_path }}/assets/camera/images/slides/icra2015/teaser_full.png">
            <div class="camera_caption">
                ICRA 2015: Incremental Dense Semantic Stereo Fusion for Large-Scale Semantic Scene Reconstruction
            </div>
        </div>
        <div data-thumb="{{ base_path }}/assets/camera/images/slides/icra2013/teaser_full_small.png" 
               data-src="{{ base_path }}/assets/camera/images/slides/icra2013/teaser_full.png">
            <div class="camera_caption">
                ICRA 2013: Efficient Temporal Consistency for Streaming Video Scene Analysis
            </div>
        </div>
    </div>
</div>
<div style="height:20px; width:100%; clear:both;"></div>
